{% extends 'base.html' %}
{% load static %}
{% block title %}

{% endblock title %}


{% block main %}
<div class="d-flex justify-content-between">
<div class="card mt-3" style="width: 18rem;">
    <img src="{% static 'blog/img/dev/1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Azamat Yaxyoyev</h5>
        <p class="card-text"><b>Back-end developer</b></p>
        <p class="card-text">Back-end developers are the experts who build and maintain the mechanisms that process data and perform actions on websites. Unlike front-end developers, who control everything you can see on a website, back-end developers are involved in data storage, security, and other server-side functions that you cannot see.</p>
    </div>
</div>
<div class="card mt-3" style="width: 18rem;">
    <img src="{% static 'blog/img/dev/1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Azamat Yaxyoyev</h5>
        <p class="card-text"><b>Back-end developer</b></p>
        <p class="card-text">Back-end developers are the experts who build and maintain the mechanisms that process data and perform actions on websites. Unlike front-end developers, who control everything you can see on a website, back-end developers are involved in data storage, security, and other server-side functions that you cannot see.</p>
    </div>
</div>
<div class="card mt-3" style="width: 18rem;">
    <img src="{% static 'blog/img/dev/1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Azamat Yaxyoyev</h5>
        <p class="card-text"><b>Back-end developer</b></p>
        <p class="card-text">Back-end developers are the experts who build and maintain the mechanisms that process data and perform actions on websites. Unlike front-end developers, who control everything you can see on a website, back-end developers are involved in data storage, security, and other server-side functions that you cannot see.</p>
    </div>
</div>
<div class="card mt-3" style="width: 18rem;">
    <img src="{% static 'blog/img/dev/1.jpg' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Azamat Yaxyoyev</h5>
        <p class="card-text"><b>Back-end developer</b></p>
        <p class="card-text">Back-end developers are the experts who build and maintain the mechanisms that process data and perform actions on websites. Unlike front-end developers, who control everything you can see on a website, back-end developers are involved in data storage, security, and other server-side functions that you cannot see.</p>
    </div>
</div>
</div>
{% endblock main %}