{% extends 'base.html' %}
{% load blog_tags %}

{% block main %}

{% include 'blog/components/_carousel.html' %}


<h1>Список статей</h1>
<div class="d-flex justify-content-between">
    <div class="col-3">
        {% get_all_categories as categories %}
        {% include 'blog/components/_sidebar.html' %}
    </div>

    <div class="col-8">
        {% for article in articles %}
        {% include 'blog/components/_card.html' %}
        {% endfor %}

        {% include 'components/_pagination.html' %}

    </div>

</div>

{% endblock main %}