{% if page_obj.has_other_pages %}

<nav aria-label="Пример навигации по страницам">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous and page_obj.paginator.num_pages > 2 %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Пред...</a></li>
        {% endif %}

        {% for page in page_obj.paginator.page_range %}
        {% if page == page_obj.number %}
            <li class="page-item"><a class="page-link">{{ page }}</a></li>
        {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:+3 %}
            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        {% endif %}

        {% endfor %}

        {% if page_obj.has_next and page_obj.paginator.num_pages > 2 %}
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">След...</a></li>
        {% endif %}
    </ul>
</nav>

{% endif %}